<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
  <h1>Welcome to the Magical Story Generator!</h1>
  <p class="text-center">Embark on a journey to create enchanting stories for your little ones.</p>
  <%= link_to 'Create a New Story', new_story_path, class: 'btn btn-primary mt-3' %>
</div>
